<button routerLink="../result">Back to movie</button>
<button routerLink="../" class="secondBtn">Go back</button>
<main>
  <div class="container">
    <section class="overallInfo">
      <h2 class="title">Your Votes</h2>
      <div class="edit-delete">
        <div class="edit">
          <img src="assets/edit.svg" alt="edit icon" />
          <p>edit</p>
        </div>
        <div class="delete">
          <img src="assets/delete.svg" alt="delete icon" />
          <p>delete</p>
        </div>
      </div>
    </section>
    <hr />
    <section class="listInfo">
      <span>x Titles</span>
      <div class="sortContainer">
        <div class="chooseSort">
          <span>sort by:</span>
        </div>
      </div>
    </section>
    <hr />
    <section class="listOfMovies">
      <ng-container *ngIf="favoriteMoviesList$ | async as list">
        <ul>
          <li *ngFor="let movie of list">{{ movie.title }}</li>
        </ul>
      </ng-container>
    </section>
  </div>
</main>
